@page "/listadoAsistenciaEvento"
@inject ListarAsistenciaAEventoUseCase ListadoAsistenciaEventoUseCase
@inject NavigationManager Navegador
@*@rendermode InteractiveServer*@
@inject UserState User

@if (mostrarDialogo)
{
        <Mensaje @ref=dialogo 
        mensaje="Acceso no autorizado" 
        soloMensaje="true"
        OnCerrado="VolverHome" />
}


@if (!mostrarDialogo){
<DialogoEx  @ref="dialogoEx"/>
<input placeholder="ID del Evento a buscar sus Asistencias" @bind="ID" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
 <button class="btn btn-danger" @onclick="()=>VolverInicio()">
            Volver al inicio
        </button>
@if (visible){
 <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>EMAIL</th>
        <th>TELEFONO</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var per in _lista)
    {
    <tr>
        <td>@per.ID</td>
        <td>@per.DNI</td>
        <td>@per.Nombre</td>
        <td>@per.Apellido</td>
        <td>@per.Email</td>
        <td>@per.Telefono</td>
    </tr>
    }
    </tbody>
    </table>}
}
@code {
List<Persona> _lista = new List<Persona>();
int? ID;
bool visible=false;
Mensaje? dialogo=null;
Usuario? user{get; set;}=null;
bool mostrarDialogo=false;
DialogoEx? dialogoEx=null;

protected override void OnInitialized(){
  user=User.user;
  if (user ==null){
    mostrarDialogo=true;
  }
}
private void VolverInicio(){
     Navegador.NavigateTo($"/inicio");
}
private void VolverHome(){
     Navegador.NavigateTo($"/");
}

protected override Task OnAfterRenderAsync(bool firstRender){
        if (mostrarDialogo && dialogo != null && firstRender){
            dialogo.Mostrar();
            StateHasChanged();
        }
        return Task.CompletedTask;
    } 
 private void Aceptar()
{
 if (ID !=null){   
    try{
    _lista = ListadoAsistenciaEventoUseCase.Ejecutar(ID.Value);
    visible=true;
    }
    catch(Exception e){
        dialogoEx?.Mostrar(e.Message);
    }}
    
else{
    dialogoEx?.Mostrar("Debe ingresar un numero");
    }
}

}